<div class="wrapper">
  <div class="container text-center">
    <div class="tabs">
      <a class="tab active" data-target="#myplaces" href="#">
        <h3>My places</h3>
      </a>
      <a class="tab" data-target="#myparties" href="#">
        <h3>My parties</h3>
      </a>
    </div>
  </div>
</div>
<!-- <h2>My Places</h2> -->
<div class="wrapper tab-content" id="myplaces" >
  <div class="container">
    <% @myplaces.each do |place| %>
      <div class="row place-row">
        <div class="col-xs-12 col-sm-() card-container">
          <div class="card center-block" style=" max-width: 400px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= place.photos.any? ? (cl_image_path place.photos.first.path) : image_path('no-picture.jpg') %>')">
            <% if place.user.facebook_picture_url? %>
              <% avatar_url = place.user.facebook_picture_url || "http://placehold.it/30x30" %>
              <%= image_tag avatar_url, class: 'avatar top-left' %>
            <% else %>
              <%= image_tag "http://www.wowkeren.com/images/photo/zinedine_zidane.jpg", class: "avatar top-left" %>
            <% end %>
            <div class="card-numbers">
              <h2><%= place.price %> €</h3>
              <h2><%= place.capacity %> <i class="fa fa-users" aria-hidden="true"></i></h2>
            </div>
            <div class="card-description">
              <h2><%= place.name %></h2>
              <p><%= place.address %></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-7">
          <div class="container bookings-container">
            <ul class="list-unstyled">
              <% place.bookings.each do |booking| %>
                <li>
                  <ul class="list-unstyled list-inline bookings-list" >
                    <li>Booking <%= booking.status %> from <%= booking.start_date %> to <%= booking.end_date %></li>
                    <li><button type="button" class="btn btn-success"><%= link_to "accept", accept_booking_path(booking) %></button></li>
                    <li><button type="button" class="btn btn-danger"><%= link_to "decline", reject_booking_path(booking) %></button></li>
                  </ul>
                  <p><%= booking.comment %></p>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- <h2>My parties</h2> -->
<div class="wrapper tab-content hidden" id="myparties" >
  <div class="container">
    <% @mybookings.each do |booking| %>
      <div class="row booking-row">
        <div class="col-xs-12 col-sm-6">
          <div class="container bookings-container">
            <h3>You booked <%= booking.place.name %> from <%= booking.start_date %> to <%= booking.end_date %></h3>
            <h3>Booking <%= booking.status %></h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 card-container">
          <div class="card center-block" style=" max-width: 400px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= booking.place.photos.any? ? (cl_image_path booking.place.photos.first.path) : image_path('no-picture.jpg') %>')">
            <% if booking.place.user.facebook_picture_url? %>
              <% avatar_url = booking.place.user.facebook_picture_url || "http://placehold.it/30x30" %>
              <%= image_tag avatar_url, class: 'avatar top-left' %>
            <% else %>
              <%= image_tag "http://www.wowkeren.com/images/photo/zinedine_zidane.jpg", class: "avatar top-left" %>
            <% end %>
            <div class="card-numbers">
              <h3><%= booking.place.price %> €</h3>
              <h2><%= booking.place.capacity %> <i class="fa fa-users" aria-hidden="true"></i></h2>
            </div>
            <div class="card-description">
              <h2><%= booking.place.name %></h2>
              <p><%= booking.place.address %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
