<h1>Mes soirées</h1>

<% @my_bookings.each do |booking| %>
  <%= booking.name %> | <%= booking.address %> | <%= booking.price %> | <%= booking.capacity %> | From <%= booking.start_date %> To <%= booking.end_date %><br>
<% end %>
