<!-- <div class="wrapper">
  <div class="container text-center">
    <div class="tabs">
      <a class="tab" href="#">
        <h3>My accounts</h3>
      </a><a class="tab active" href="#">
        <h3>My places</h3>
      </a>
      <a class="tab" href="#">
        <h3>My parties</h3>
      </a>
    </div>
  </div>
</div>

<h1>id : <%= current_user.id %> <br>
  email : <%= current_user.email %>
</h1>
 -->
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<h2><%= @user.email %></h2>
