<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= place.photos.any? ? (cl_image_path place.photos.first.path) : image_path('no-picture.jpg') %>')">
<%# raise %>
  <% if place.user.facebook_picture_url? %>
    <% avatar_url = place.user.facebook_picture_url || "http://placehold.it/30x30" %>
    <%= image_tag avatar_url, class: 'avatar top-left' %>
  <% else %>
    <%= image_tag "http://www.wowkeren.com/images/photo/zinedine_zidane.jpg", class: "avatar top-left" %>
  <% end %>

  <div class="card-numbers">
    <h3><%= place.price %> €</h3>
    <h2><%= place.capacity %> <i class="fa fa-users" aria-hidden="true"></i></h2>
  </div>
  <div class="card-description">
    <h2><%= place.name %></h2>
    <p><%= place.address %></p>
  </div>
</div>
