<div class="wrapper">
  <div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      Recherche
    </div>
  </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div id="map" style="width: 100%; height: 600px;"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
         <% @places.each do |place| %>
          <div class="col-xs-12 col-sm-4">
              <%= link_to place_path(place) do %>
                <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= place.photos.any? ? (cl_image_path place.photos.first.path) : image_path('no-picture.jpg') %>')">
                  <%= image_tag 'avatar', class: 'avatar' %>
                  <!-- <div class="card-category">Popular</div> -->
                   <div class="card-numbers">
                    <h3><%= place.price %> €</h3>
                    <h2><%= place.capacity %> <i class="fa fa-users" aria-hidden="true"></i></h2>
                   </div>
                  <div class="card-description">
                      <h2><%= place.name %></h2>
                      <p><%= place.address %></p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'geomapping_js_tag' %>
