<div class="wrapper-index">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div id="map" style="width: 100%; height: 600px;"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
          <div class="index-search">
            <%= render 'pages/searchform' %>
            <h5>Search results : <%= pluralize @count, "match" %></h5>
          </div>

          <% @places.each do |place| %>
            <div class="col-xs-12 col-sm-4">
              <%= link_to place_path(place) do %>
                <div class="card-place">
                  <%= render 'shared/card', place: place %>
                </div>
              <% end %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>


<%= render 'geomapping_js_tag' %>
