<% if signed_in? %>
  <% if current_user.id == @place.user_id %>
    <%= link_to "edit place", edit_place_path(@place) %>
  <% end %>
<% end %>


<% @place.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>


<%= simple_form_for [@place, @booking] do |f| %>

  <%= f.input :start_date, as: :string, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
  <%= f.input :end_date, as: :string, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
  <%= hidden_field_tag 'place_id', @place.id %>
  <%= hidden_field_tag 'user_id', current_user.id %>

  <%= f.button :submit %>

<% end %>

<% if current_user.id == @place.user_id %>
  <% unless @bookings.empty? %>
    <h2>List of bookings</h2>

    <% @bookings.each do |booking| %>
      <%= booking.id %> | <%= booking.user_id %> |<%= booking.start_date %> | <%= booking.start_date %> | <%= User.find(booking.user_id).email %><br>
    <% end %>
  <% end %>
<% end %>


<div class="wrapper" id="genral_wrapper">
  <div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="btn btn-primary">
        Voir les photos
      </div>
    </div>
    <div class="col-sm-4">
      <span><%= @place.price %> € par soirée</span>
    </div>
  </div>

  </div>
</div>
<div class="wrapper" id="details_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-8">
            <h3><%= @place.name %> </h3>
            <h4><%= @place.address %></h4>
            <p><%= @place.content %> </p>
             </div>
          <div class="col-sm-4">
          "Owner"
          </div>
        </div>
        <div class="row">
          <div class="span"> <i class="fa fa-users" aria-hidden="true"></i> <%= @place.capacity %> persons</div>
        </div>
      </div>
        <div class="col-sm-4">
        "Reservation"
        </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    "MAP"
  </div>
</div>

<%= render 'geomapping_js_tag' %>
