
  <div class="wrapper-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @place.photos.any? ? (cl_image_path @place.photos.first.path) : image_path('no-picture.jpg') %>')">
  </div>
    <div class="wrapper-info">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="place-info">
              <h2><%= @place.name %></h2>
              <p><%= @place.address %></p>
              <h4><i class="fa fa-home" aria-hidden="true"></i> <strong>About:</strong> <%= @place.content %></br></h4>

              <div class="pricedescription">
                <h4><i class="fa fa-users" aria-hidden="true"></i> <strong>Capacity:</strong> <%= @place.capacity %> </h4>
                <h4 class="price"><i class="fa" aria-hidden="true"></i> <strong> <%= @place.price %></strong> € par soirée</h4>
              </div>

            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <% if signed_in? %>
              <% if current_user.id == @place.user_id %>
                <%= link_to "edit place", edit_place_path(@place), class: "btn btn-default", id: "edit-button" %>
              <% else %>
                <%= render 'bookings/form' %>
              <% end %>
            <% else %>
              <%= render 'bookings/form' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<div class="wrapper">
  <div class="container">
    <div id="map" style="width: 100%; height: 600px;">
      <%= render 'geomapping_js_tag' %>
    </div>
  </div>
</div>

