
  <div class="wrapper-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @place.photos.any? ? (cl_image_path @place.photos.first.path) : image_path('no-picture.jpg') %>')">
  </div>

<% if signed_in? %>
  <% if current_user.id == @place.user_id %>
    <div><%= link_to "edit place", edit_place_path(@place), class: "btn btn-default" %></div>
  <% end %>
<% end %>

    <div class="wrapper-info">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <h2><%= @place.name %></h2>
            <p><%= @place.address %></p>
            <i class="fa fa-home" aria-hidden="true"></i> A propos de ce lieu: <%= @place.content %></br>
            <i class="fa fa-users" aria-hidden="true"></i> <%= @place.capacity %> persons</br>
            <i class="fa fa-eur" aria-hidden="true"></i><%= @place.price %> € par soirée



          </div>

          <% if signed_in? %>
            <% unless current_user.id == @place.user_id %>
              <%= render 'bookings/form' %>
            <% end %>
          <% else %>
            <%= render 'bookings/form' %>
          <% end %>


        </div>
      </div>
    </div>

<div class="wrapper">
  <div id="map" style="width: 100%; height: 600px;">
    <%= render 'geomapping_js_tag' %>
  </div>
</div>

